/**
 * 2.0 Base
 */

/**
 * 2.1 Variables
 *
 * Define your theme's color palette, with new variables, and use them in
 * the background, text, border, and utility colors to make quick updates
 * site-wide.
 */

// 2.1.1 Colors

// Color Palette
$great-blue-sea: #00A8E1;
$bottom-of-the-sea: #2e2a25;
$sea-cliff: #6b6763;
$fog: #C6C4C2;
$mist: #eaf1f2;
$the-coast-is-clear: transparent;

// Fonts
$garamond: "adobe-garamond-pro", serif;
$sackers: SackersGothicStd-Light, sans-serif;

// Background Colors
$color__background-body: #fff;
$color__background-footer: $great-blue-sea;
$color__background-color-menu-triggers: $sea-cliff;
$color__background-color-menu-triggers-hover: $sea-cliff;
$color__background-button: $great-blue-sea;
$color__background-button-hover: $the-coast-is-clear;
$color__background-button-footer: #fff;
$color__background-button-footer-hover: $the-coast-is-clear;

// Border Colors
$color__border-button: $great-blue-sea;
$color__border-button-footer: #fff;

// Text Colors
$color__text-main: $bottom-of-the-sea;
$color__main-navigation: $sea-cliff;
$color__footer-text: #fff;
$color__text-button: #fff;
$color__text-button-hover: $great-blue-sea;
$color__text-button-footer: $great-blue-sea;
$color__text-button-footer-hover: #fff;

// Overlay
$color__overlay-header: rgba(255, 255, 255, 0.6);
$color__overlay-submenu: rgba(255, 255, 255, 0.3);
$color__overlay-transparent: transparent;

// 2.2.2 Typography
$font__main: $garamond;
$font__headings: $sackers;
$font__main-navigation: $sackers;
$font__line-height-body: 1.5;
$font__line-height-headings: 1.2;
$font__line-height-pre: 1.6;
$font__margin-headings: 0 0 em(10) 0;
$font__button: $sackers;


// 2.2.3 Structure
$size__site-width: 100%;
$size__sidebar-width: 25%;
$size__sidebar-content-width: $size__site-width - $size__sidebar-width;
$size__default-padding: 20px;
$size__site-branding: 300px;


/**
 * 2.2 Mixins
 */
@mixin hide-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**
 * 2.3 Defaults
 */

body {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 18px;
}


/**
 * 2.4 Typography
 */

.content-area a {
	color: $great-blue-sea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__headings;
}
