/**
 * 4.0 Layout
 */

/**
 * 4.1 Header
 */
.header-background {
	background: $fog center/cover no-repeat;
	height: 100vh;

	@media (min-width: em(768)) {
		height: 60vh;
		background-position: top center;
	}
}

.site-header {
	background-color: $color__overlay-header;
	padding-bottom: $size__default-padding / 2;

	@media (min-width: em(768)) {
		padding-bottom: 0;
	}
}

.logo-wrap {
	max-width: 175px;

	@media (min-width: em(768)) {
		max-width: 200px;
	}
}


/**
 * 4.2 Navigation
 */
.mobile-nav-toggle-style-hamburger {

	.menu-toggle {
		background-color: $color__main-navigation;

		&::before,
		&::after {
			background-color: $color__main-navigation;
		}
	}
}

.main-navigation {

	font: {
		family: $font__main-navigation;
		size: 20px;
	}

	a {
		color: $color__main-navigation;
	}

	#primary-menu {
		top: 20px;
		background-color: $color__overlay-header;

		@media (min-width: em(768)) {
			background-color: $color__overlay-transparent;
		}

		.sub-menu {
			background-color: $color__overlay-transparent;
		}
	}
}

.sub-menu-toggle-style-plus-minus {

	.sub-menu-toggle {

		&::before,
		&::after {
			background-color: $color__main-navigation;
		}
	}
}

.header-style-short {
	.main-navigation {
		#primary-menu {
			.menu-item {
				> .sub-menu {
					@media (min-width: em(768)) {
						border-bottom: none;
						border-top: 3px solid $great-blue-sea;
						background-color: $color__overlay-submenu;
					}
				}
			}
		}
	}
}

/**
 * 4.3 Content
 */
.boxed-content .site-content {
	max-width: 640px;
}

.home,
.about {

	.entry-title {
		@include hide-text;
	}
}

/**
 * 4.4 Sidebars
 */


/**
 * 4.5. Footer
 */

.site-footer {
	background-color: $color__background-footer;
	color: $color__footer-text;
}
