/**
 * 4.0 Layout
 */

/**
 * 4.1 Header
 */
.header-background {
	background: $fog center/cover no-repeat;
	height: 100vh;

	@media (min-width: em(768)) {
		height: 60vh;
		background-position: top center;
	}
}

.site-header {
	background-color: $color__overlay-header;
	padding-bottom: $size__default-padding / 2;

	@media (min-width: em(768)) {
		padding-bottom: 0;
	}
}

.logo-wrap {
	max-width: 150px;
}


/**
 * 4.2 Navigation
 */
.mobile-nav-toggle-style-hamburger {

	.menu-toggle,
	.menu-toggle:hover {

		.menu-toggle-span {
			background-color: $color__background-color-menu-triggers;
		}
	}
}

.main-navigation {

	font: {
		family: $font__main-navigation;
		size: 20px;
	}

	a {
		color: $color__main-navigation;
	}

	#primary-menu {

		@media (min-width: em(768)) {
			background-color: $color__overlay-transparent;
		}

		.sub-menu {
			background-color: $color__overlay-transparent;
		}
	}
}

.header-style-short {
	.main-navigation {
		#primary-menu {
			.menu-item {
				> .sub-menu {
					@media (min-width: em(768)) {
						border-bottom: none;
						border-top: 3px solid $great-blue-sea;
						background-color: $color__overlay-submenu;
					}
				}
			}
		}
	}
}

.mobile-nav-style-default {
	#primary-menu {
		box-shadow: none;

		a.sub-level-toggle {
			top: 6%;
			right: 3px;
		}
	}
}

.sub-level-toggle,
.sub-level-toggle:hover {
	.sub-level-toggle-span {
		background-color: $color__background-color-menu-triggers;
	}
}

/**
 * 4.3 Content
 */
.boxed-content .site-content {
	max-width: 640px;
}

.home,
.about,
.contact {

	.entry-title {
		@include hide-text;
	}
}

/**
 * 4.4 Sidebars
 */


/**
 * 4.5. Footer
 */

.site-footer {
	padding: $size__default-padding * 3 $size__default-padding * 2;
	background-color: $color__background-footer;
	color: $color__footer-text;

	a {
		color: $color__footer-text;

		&:visited {
			color: $color__footer-text;
		}
	}
}
