/**
 * 5.0 Plugin Styles
 */

/* Gravity Forms */
.gform_wrapper.school-contact-form_wrapper {
	margin-bottom: em(30);

	.gform_footer {
		&.left_label {
			margin-left: 32.5%;
		}

		input.button,
		input[type=submit] {
			font-size: em(14);
		}
	}

	.gform_body {
		input.medium {
			width: 60%;
		}
	}

	.top_label {

		.gfield_label {
			font-weight: 400;
			margin: 0;
		}
	}
}

/* Mm Components */
a.mm-button {
	@include button-color($great-blue-sea);
	font-family: $sackers;
	text-transform: uppercase;

	&.solid-to-ghost {
		@include solid-to-ghost-button-color($great-blue-sea);
	}

	&.gradient {
		@include gradient-button-color($great-blue-sea);
	}
	&.three-d {
		@include three-d-button-color($great-blue-sea);
	}

	&.white {
		@include button-color($white);
		color: $great-blue-sea !important;
		&.solid-to-ghost {
			@include solid-to-ghost-button-color($white);
		}

		&.gradient {
			@include gradient-button-color($white);
		}
		&.three-d {
			@include three-d-button-color($white);
		}
	}

	&.sea-cliff {
		@include button-color($sea-cliff);
		&.solid-to-ghost {
			@include solid-to-ghost-button-color($sea-cliff);
		}

		&.gradient {
			@include gradient-button-color($sea-cliff);
		}
		&.three-d {
			@include three-d-button-color($sea-cliff);
		}
	}
}
